# config/remotetypes.config

# Configuración del adaptador de objetos
Ice.ProgramName=remotetypes
Ice.ThreadPool.Server.Size=1
Ice.ThreadPool.Server.SizeMax=10
Ice.ThreadPool.Client.Size=1
Ice.ThreadPool.Client.SizeMax=10

# Configuración del adaptador de objetos remotetypes
remotetypes.Endpoints=tcp -h localhost -p 10000